; cli configs

; registry=https://registry.npm.taobao.org
registry=https://registry.npmjs.org/

;; delete the package from npm repositories
;  npm unpublish xrosy-command@0.1.0 --force

;; show all defaults.
;  npm config ls -l